{% load unicorn %}
<div>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
            gap: 10px;
            width: 100%;
        }
        .item {
            padding: 20px;
        }
        .tratamiento {
            background-color: #3b82f6;
        }
        .tratamiento:hover {
            background-color: #1a62d6;
        }
        .diagnistico {
            background-color: #a79d15;
        }
        .diagnistico:hover {
            background-color: #eccd1a;
        }
        .prueba {
            background-color: #1aa38c;
        }
        .prueba:hover {
            background-color: #18995d;
        }
    </style>

    <!-- put component code here -->
    <div class="rounded bg-[#5A5A94] px-8 shadow-2xl w-full py-10">
        <h1 class="text-white font-bold text-2xl mb-4">
            Consulta
        </h1>
        <div>
            {% csrf_token %}
            <div class="mb-4 flex flex-col items-start" unicorn:ignore>
                <label class="text-white text-sm font-bold mb-2" for="sintomas">
                    Sintomas
                </label>
                <select
                    class="border border-white rounded-md py-2 px-3 bg-[#5A5A94] text-white w-full pl-3" 
                    id="sintomas"
                    multiple>
                {% for symtom in symptoms %}
                    <option value="{{ symtom }}">{{ symtom }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="mb-4 flex flex-col items-start" unicorn:ignore>
                <label class="text-white text-sm font-bold mb-2" for="signos">
                    Signos
                </label>
                <select
                    class="border border-white rounded-md py-2 px-3 bg-[#5A5A94] text-white w-full pl-3" 
                    id="signos"
                    multiple>
                    {% for sig in signs %}
                        <option value="{{ sig }}">{{ sig }}</option>
                    {% endfor %}
                </select>
            </div>
            <label class="text-white text-sm font-bold mb-2">
                Diagnistico
            </label>
            <div class="border-2 border-dashed border-white p-4 my-5 rounded">
                {{ diagnistico }}
            </div>
            <label class="text-white text-sm font-bold mb-2">
                Tratamiento
            </label>
            <div class="border-2 border-dashed border-white p-4 my-5 rounded">
                {{ tratamiento }}
            </div>
        </div>
        <div class="flex flex-row-reverse gap-4">
            <button class="rounded bg-[#166534] hover:bg-[#14532d] text-white px-8 py-2">
                Guardar
            </button>
            <button class="rounded prueba text-white px-8 py-2">
                Ingresar pruebas
            </button>
            <button class="rounded diagnistico text-white px-8 py-2" 
                    onclick="obtener_diagnostico()"
            >
                Obtener diagnostico
            </button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#sintomas').select2();
        $('#signos').select2();
    });

    function obtener_diagnostico() {
        const selectSintomas = document.getElementById("sintomas");
        const selectSignos = document.getElementById("signos");
        
        const selectedOptions = [...selectSintomas.selectedOptions, ...selectSignos.selectedOptions];

        // Obtener los valores de las opciones seleccionadas
        const selectedValues = Array.from(selectedOptions).map(option => option.value);

        if(selectedValues.length > 0) {
            const padecimientos = selectedValues.join(',')
            Unicorn.call('forms.consulta-form','get_consulta', padecimientos);
        }
    }
</script>
