{% load unicorn %}
<div>
    <!-- put component code here -->
    <div class="rounded bg-[#5A5A94] px-8 shadow-2xl w-full py-10">
        <h1 class="text-white font-bold text-2xl mb-4">
            {% if usuario %} Editar {% else %} Crear {% endif %} usuario
        </h1>
        
        <form>
            {% csrf_token %}
            <div class="mb-4 flex flex-col items-start">
                <label class="text-white text-sm font-bold mb-2" for="username">
                    Username
                </label>
                <input
                    class="border border-white rounded-md py-2 px-3 bg-[#5A5A94] text-white w-full pl-3"
                    type="text"
                    id="username"
                    name="username"
                    unicorn:model="username"
                    placeholder=""/>
                <span class="error">{{ unicorn.errors.username.0.message }}</span>
            </div>
            <div class="flex gap-4">
                <div class="mb-4 flex flex-col w-1/2">
                    <label class="text-white text-sm font-bold mb-2" for="first_name">
                        Nombre
                    </label>
                    <input
                        class="border border-white rounded-md py-2 px-3 bg-[#5A5A94] text-white w-full pl-3"
                        type="text"
                        id="first_name"
                        name="first_name"
                        unicorn:model="first_name"
                        placeholder=""/>
                    <span class="error">{{ unicorn.errors.first_name.0.message }}</span>
                </div>
                <div class="mb-4 flex flex-col w-1/2">
                    <label class="text-white text-sm font-bold mb-2" for="last_name">
                        Apellidos
                    </label>
                    <input
                        class="border border-white rounded-md py-2 px-3 bg-[#5A5A94] text-white w-full pl-3"
                        type="text"
                        id="last_name"
                        name="last_name"
                        unicorn:model="last_name"
                        placeholder=""/>
                    <span class="error">{{ unicorn.errors.last_name.0.message }}</span>
                </div>
            </div>
            <div class="mb-4 flex flex-col items-start">
                <label class="text-white text-sm font-bold mb-2" for="email">
                    Correo electronico
                </label>
                <input
                    class="border border-white rounded-md py-2 px-3 bg-[#5A5A94] text-white w-full pl-3"
                    type="text"
                    id="email"
                    name="email"
                    unicorn:model="email"
                    placeholder="Ejem. user@gmail.com"/>
                <span class="error">{{ unicorn.errors.email.0.message }}</span>
            </div>
            <div class="mb-4 flex flex-col items-start">
                <label class="text-white text-sm font-bold mb-2" for="rol">
                    Rol
                </label>
                <select name="rol" class="border border-white rounded-md py-2 px-3 bg-[#5A5A94] text-white w-full pl-3" unicorn:model="rol">
                    {% for r in roles %}
                        <option value="{{ r.id }}">{{ r.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-4 flex flex-col items-start">
                <label class="text-white text-sm font-bold mb-2" for="password">
                    Contraseña
                </label>
                <input
                    class="border border-white rounded-md py-2 px-3 bg-[#5A5A94] text-white w-full pl-3"
                    type="password"
                    id="password"
                    name="password"
                    unicorn:model="password"
                    placeholder=""/>
            </div>
        </form>
        <div class="flex flex-row-reverse ...">
            <div>
                <button class="rounded bg-[#166534] hover:bg-[#14532d] w-full text-white px-8 py-2" unicorn:click="save_usuario">Guardar</button>
            </div>
        </div>
    </div>
</div>