<nav id="menu" class="bg-1C1C39 w-full md:w-64 flex flex-col h-screen text-white rounded-md shadow-2xl">
  <h2 class="text-lg font-bold bg-[#5A5A94] p-4 text-center">Menú</h2>
  <ul class="px-4 py-4">
    <li class="py-2 cursor-pointer hover:text-gray-300 rounded-md px-4 py-4">
      <a href="#"><i class="fa-solid fa-gears fa-lg mr-3"></i> Roles</li></a>
    <li class="py-2 cursor-pointer hover:text-gray-300 rounded-md px-4 py-4">
      <a href="#"><i class="fa-solid fa-key fa-lg mr-3"></i> Permisos</li></a>
    <li class="py-2 cursor-pointer hover:text-gray-300 rounded-md px-4 py-4">
      <a href="#"><i class="fa-solid fa-user-shield fa-lg mr-3"></i> Usuarios</li></a>
    <li class="py-2 cursor-pointer hover:text-gray-300 rounded-md px-4 py-4">
      <a href="{% url 'consultorios-list' %}"><i class="fa-solid fa-notes-medical fa-lg mr-3"></i> Consultorios</li></a>
    <li class="py-2 cursor-pointer hover:text-gray-300 rounded-md px-4 py-4">
      <a href="{% url 'pacientes-list' %}"><i class="fa-solid fa-users fa-lg mr-3"></i> Pacientes</li></a>
    <li class="py-2 cursor-pointer hover:text-gray-300 rounded-md px-4 py-4">
      <a href="#"><i class="fa-solid fa-disease fa-lg mr-3"></i> Enfermedades</li></a>
    <li class="py-2 cursor-pointer hover:text-gray-300 rounded-md px-4 py-4">
      <a href="{% url 'signos-list' %}"><i class="fa-solid fa-heart-pulse fa-lg mr-3"></i> Signos</li></a>
    <li class="py-2 cursor-pointer hover:text-gray-300 rounded-md px-4 py-4">
      <a href="{% url 'sintomas-list' %}"><i class="fa-solid fa-person fa-lg mr-3"></i> Sintomas</li></a>
    <li class="py-2 cursor-pointer hover:text-gray-300 rounded-md px-4 py-4">
      <a href="{% url 'pruebas-list' %}"><i class="fa-solid fa-clipboard-list fa-lg mr-3"></i> Pruebas</li></a>
  </ul>
</nav>

<script>
  const menuItems = document.querySelectorAll('.bg-1C1C39 li');

  menuItems.forEach((item) => {
      item.addEventListener('click', () => {
          // Elimina la clase "bg-blue-500" de la opción anteriormente seleccionada
          const previousSelectedItem = document.querySelector('.bg-blue-500');
          if (previousSelectedItem) {
              previousSelectedItem.classList.remove('bg-blue-500');
          }

          // Agrega la clase "bg-blue-500" a la opción seleccionada
          item.classList.add('bg-blue-500');
      });
  });
</script>


  